{% load staticfiles %}
{% load staticfiles %}
{% load staticfiles %}
{% load staticfiles %}
{% load staticfiles %}
{% load staticfiles %}
<!DOCTYPE html><html><head><meta charset=utf-8><title>skwisgaar</title><link href={% static 'app.7818eb25fd5a767d737f835b61777b74.css' %}' %}' %}' %}' %}' %} rel=stylesheet></head><body id=satan><router-link :to="{name: 'list'}">sex</router-link><div id=app></div><script type=text/javascript src={% static 'app.77ef924640da7480777f.js' %}' %}' %}' %}' %}' %}></script></body></html>